{% extends 'base.html' %}

{% load static %}

{% block title %}Copyright Information - FetchVid{% endblock %}

{% block content %}

<div class="container mb-4 p-4" style="min-height: 100vh;">
    <h2>FetchVid - Copyright Information</h2>

    <p>
        FetchVid respects the intellectual property rights of others and requests you to do the same. FetchVid does not permit infringement of intellectual property rights on its platform and will promptly suspend commercial content (served via a publicly available web address / URL) from being able to be converted and downloaded by its platform when kindly notified.
    </p>

    <p>
        If you're a content creator/owner, copyright owner, or an agent thereof and would like to disable the possible use of FetchVid's platform to convert your publicly available content(s), please kindly send us a request via e-mail with the information stated below, and we will blacklist the content(s) in our system within 24 hours.
    </p>

    <p>
        E-mail: copyright@fetchvid.com
    </p>

    <ul>
        <li>The URL(s) of the content(s) you want us to block.</li>
        <li>A form of electronic or physical evidence showing that you have the rights to the content(s).</li>
        <li>Contact information that is reasonably sufficient to permit us to contact you, such as an address, telephone number, and a valid e-mail address.</li>
    </ul>
</div>

{% endblock %}
